.demo-table {
    width: 100%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  mat-form-field {
    margin-right: 12px;
  }

  .example-button-row {
    display: table-cell;
    width: 490px;
  }

  .example-button-row {
    margin: 8px 8px 8px 0;
  }